<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "experience-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :description %>
  <%= textarea f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :placement %>
  <%= number_input f, :placement %>
  <%= error_tag f, :placement %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
