<h1>Show Experience</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, ThousandYearOldVampireWeb.ExperienceLive.FormComponent,
    id: @experience.id,
    title: @page_title,
    action: @live_action,
    experience: @experience,
    return_to: Routes.experience_show_path(@socket, :show, @experience) %>
<% end %>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @experience.description %>
  </li>

  <li>
    <strong>Placement:</strong>
    <%= @experience.placement %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.experience_show_path(@socket, :edit, @experience), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.experience_index_path(@socket, :index) %></span>
